<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Профиль пользователя
{% endblock title %}

{% block content %}
<h1>{{ profile.username }}</h1>

<a class="btn btn-link" href="{% url 'profile_edit' %}">Редактировать</a>
{% if is_not_author %}
<a class="btn btn-link" href="{% url 'upgrade' %}">Стать автором</a>
{% endif %}

<hr>

<p>Имя: {{ profile.first_name }}</p>
<p>Фамилия: {{ profile.last_name }}</p>
<p>Электронная почта: {{ profile.email }}</p>
<p>Группы доступа: {{ profile.groups.all|join:", " }}</p>
{% endblock content %}