<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Статьи
{% endblock title %}

{% block content %}
<h1>Статьи</h1>
<small>{{articles_list|length}}</small>
{% for item in articles_list %}
<article class="news-post mt-2 mb-4">
    <h3>
        {{ item.title|censor }}
    </h3>
    <p class="small">{{ item.create_time|date:'m.d.Y' }}</p>
    <p>{{ item.content|truncatechars:20|censor }}</p>
    <a href="/articles/{{ item.id }}">Читать</a>
</article>
{% endfor %}
{% endblock content %}