<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
Статья
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ article_detail.title|censor }}</h1>
<p class="small">{{ article_detail.create_time|date:'m.d.Y' }}</p>
<p>{{ article_detail.content|censor }}</p>
{% endblock content %}