<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Новости</h1>
<small>{{news_list|length}}</small>
{% for item in news_list %}
<article class="news-post mt-2 mb-4">
    <h3>
        {{ item.title|censor }}
    </h3>
    <p class="small">{{ item.create_time|date:'m.d.Y' }}</p>
    <p>{{ item.content|truncatechars:20|censor }}</p>
    <a href="/news/{{ item.id }}">Читать</a>
</article>
{% endfor %}
{% endblock content %}