<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1>Новости</h1>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    {% if filterset %}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Найти" />
    </form>
    <hr>
    {% endif %}

    <small>Всего новостей: {{page_obj.paginator.count}}</small>
    <br>

    <a href="{% url 'news_create' %}">Добавить</a>{% if not filterset %} | <a href="{% url 'news_search' %}">Фильтрация</a>{% endif %}

    {% for item in news_list %}
    <article class="news-post mt-2 mb-4">
        <h3>
            {{ item.title|censor }}
        </h3>
        <p class="small">{{ item.create_time|date:'d.m.Y' }}</p>
        <p>{{ item.content|truncatechars:20|censor }}</p>

        <p>Категории</p>
        {% for category in item.categories.all %}
            <li>{{ category }}</li>
        {% endfor %}

        <a href="{% url 'news_detail' item.id %}">Читать</a> | <a href="{% url 'news_update' item.id %}">Редактировать</a> | <a href="{% url 'news_delete' item.id %}">Удалить</a>
    </article>
    {% endfor %}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}

{% endblock content %}